// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
  color: $white;
  background-color: $dark;
  padding: 2rem 1.5rem;
  font-size: 0.8rem;
  @include media-breakpoint-up(md) {
    div:nth-of-type(2) p {
      text-align: end;
    }
  }
}
